<% include ./partials/header %>
<body>
    <div class="container">
        <h4>Oops, something went wrong! Please go back to the homepage and try again</h4>
        <a href='/' class="btn btn-primary">Home</a>
    </div>
</body>