<% include ./partials/header %>
<body>
    <div class="container">
        <h4>Oops, something went wrong!</h4> 
        <p>If the problem persists, please contact our support team</p>
        <a href='/' class="btn btn-primary">Home</a>
    </div>
</body>