<% include ./partials/header %>
<body>
    <div class="container">
        <h4>Oops, something went wrong!</h4> 
        <% if(error === 404 || error === 400) { %>
            <p>It's likely you entered an invalid ticket number</p>
        <% } else { %>
            <p>Error Code: <%= error %></p>
        <% } %>
        <p>Please go back to the homepage and try again</p>
        <a href='/' class="btn btn-primary">Home</a>
    </div>
</body>