<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <h1>Zendesk Ticket Viewer</h1>
        </header>
        <p>Press the "List All" button to see all tickets, or enter a ticket numer to see individual ticket details</p>
        <a href="/listall">List All</a>
        <form>
            <input type="number" placeholder="ticket number">
            <button>Request Ticket</button>
        </form>
    </body>
</html>
