<% include ./partials/header %>
    <body>
        <div class="container">
            <% include ./partials/jumbotron %>
            <p>Press the "List All" button to see all tickets, or enter a ticket numer to see individual ticket details</p>
            <div class="row">
                <div class="col">
                    <form action="/listall" method="POST">
                        <input type="hidden" name="url" value=<%= url %>>
                        <button class="btn btn-primary" type="submit">List All</button>
                    </form>
                </div>
                <div class="col">
                    <form action='/showticket' method="POST">
                        <input  class="form-control" type="text" name="id" placeholder="ticket number">
                        <button class="btn btn-primary" type="submit">Request Ticket</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
