<% include ./partials/header %>
<body>
    <div class="container">
        <h4>There is a problem with the server</h4> 
        <p>Please check your internet connection and try again</p>
        <p>If the problem persists, please contact our support team</p>
        <a href='/' class="btn btn-primary">Home</a>
    </div>
</body>