<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Details for ticket with ID <%= ticket.data.ticket.id %></h1>
        <p>Subject: <%= ticket.data.ticket.subject %></p>
        <p>Description: <%= ticket.data.ticket.description %></p>
        <p>Status: <%= ticket.data.ticket.status %></p>
        <a href="/">Home</a>
    </body>
</html>