<% include ./partials/header %>
    <body>
        <h1>Details for ticket with ID <%= ticket.id %></h1>
        <p>Subject: <%= ticket.subject %></p>
        <p>Description: <%= ticket.description %></p>
        <p>Status: <%= ticket.status %></p>
        <a href="/">Home</a>
    </body>
</html>