<% include ./partials/header %>
    <body>
        <div class="container">
            <% include ./partials/jumbotron %>
            <h3>Details for ticket with ID <%= ticket.id %></h3>
            <p><strong>Subject:</strong> <%= ticket.subject %></p>
            <p><strong>Description:</strong> <%= ticket.description %></p>
            <p><strong>Status:</strong> <%= ticket.status %></p>
            <a href="/" class="btn btn-primary">Home</a>
        </div>
    </body>
</html>